@charset "utf-8";
/* CSS Document */
.t-c{ text-align:center;}
.b-t{ border-top:1px solid #ddd;}
.b635{ background-position:635px 0px;}
.w595{ width:595px;}
.w325{ width:325px;}
/*弹出层*/
div#shadeDiv{display:none;position: absolute;top: 0;left: 0; opacity: 0.6; filter: alpha(opacity=60);z-index: 9998;background-color: #000;}
div#prompt{border-radius:5px; display:none;border: 1px solid #CCC; position:fixed;_position: absolute;z-index: 9999;background-color: #fff;}
div#prompt_title{ cursor:move;border-radius:5px;font-size:14px;font-weight: bold;color: #333;padding-left:10px;height: 40px;line-height: 40px;border-bottom: 1px solid #ececec;background-color:#fcfcfc; }
span#prompt_close{ position: absolute;right: 10px;top: 10px; cursor: pointer; background: url(../images/close.png) no-repeat 0px 0px; width: 14px;height: 13px;outline: none;display: block;}
span#prompt_close:hover{background-position: 0 -14px;}
div#prompt_body{padding: 30px 20px;font-size:13px;line-height: 1.5;}
div#prompt_bottom{display:none;position: absolute;bottom: 35px;left: 40%;}
div#prompt_bottom a.butn{display:inline-block;_display:block;_float:left;text-decoration: none;font-size: 14px; padding: 10px 20px ;margin-left: 10px;cursor: pointer;}
div#prompt_bottom #ConfirmFun{color: #fff; color: #fff!important;
background: #00969a;}
div#prompt_bottom #CancelFun{ color:#6b6b6b; color: #6b6b6b!important; background:#e5e5e5;}
/*翻页*/
.page_v1{padding-top:30px; margin-bottom:30px; text-align:right; font-size:12px;line-height:24px;}
.page_v1 span.disabled{ display:none}
.page_v1 a{background-color:#fff; padding:6px 10px;margin-left:4px;border: 1px solid #cacdd4;vertical-align: middle;} 
.page_v1 a:hover{text-decoration:none; color:#555;} 
.page_v1 span{padding:6px 10px;margin-left:4px; font-family:Arial, sans-serif;vertical-align: middle;}
.page_v1 span.cur{ background-color:#00969a; color:#fff; border:2px solid #00969a;} 
.page_v1 a.pages-goto:link,.page_v1 a.pages-goto:visited { background:#bac0c0; color:#fff;}
.page_v1 a.pages-goto:hover{ background:#acb1b1;} 
.page_v1 .ell{ font-weight:bold;}
.page_v1 .total em{ font-style:normal; margin:0 3px;}
.page_v1 span input{ width:33px; margin:0 10px; text-align:center;line-height:23px; height:23px; border:1px solid #cacdd4;}
/*警告*/
.msgbox_layer, .msgbox_layer .icon, .msgbox_layer .icon_clear, .msgbox_layer .icon_end{display:inline-block;height:54px;line-height:54px;font-weight:bold;font-size:14px;color:#606060;background:url(../images/gb_tip_layer.png) no-repeat;}
.msgbox_layer_wrap{width:100%;position:fixed;top:46%;left:0;text-align:center;z-index:9999;padding-left: 22px;}
.msgbox_layer{background-position:0 -161px;background-repeat:repeat-x;padding:0 18px 0 9px;margin:0 auto;position:relative;}
.msgbox_layer .icon{width:45px;position:absolute;left:-45px;top:0;}
.msgbox_layer .success{background-position:-6px 0;}
.msgbox_layer .icon_end{width:6px;background-position:0 0;position:absolute;right:-6px;top:0;}
.msgbox_layer .error{background-position:-6px -108px;}
.msgbox_layer .warn{background-position:-6px -54px;}
.msgbox_layer .icon_clear{background-position:-6px 0;width:5px;position:absolute;top:0;left:-5px;}
.msgbox_layer .loading{width:16px;height:16px;border:0;background-image:url(../images/loading.gif);float:left;margin:19px 10px 0 5px;}

.page_v2{ text-align:right; margin-top:16px;}
.page_v2 a,.page_v2 span{ border:1px solid #edf0f1; padding:2px 6px; margin-left:4px;}
.page_v2 a:hover{ text-decoration:none;}
.page_v2 a.cur,.page_v2 span.cur{ border-color:#a0d066; background:#a0d066; color:#fff;}
.pages-goto,.wh-page{ display:none;}
